/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: antiquewhite;
}

h1 {
  font-size: 26px;
  line-height: 1.1;
  text-decoration: underline;
  text-shadow: 6px 2px 6px rgba(5, 35, 231, 0.5);
  font-weight: bold;
  padding: 10px 20px 15px 5px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 1.1;
  text-transform: uppercase;
  color: rgb(244, 180, 5);
  text-decoration: underline;
  font-weight: bold;
  padding: 18px 20px 18px 5px;
  text-shadow: 6px 2px 6px rgba(5, 35, 231, 0.5);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  h2:hover {
    color: #747bff;
  }

  h1 {
    color: red;
  }
}
